<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Mercado Liebre - Registrarse</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/styles_register_login.css">
</head>
<body>
    <header id="main-header">
        <div class="main-header-top-bar">
            <div class="logo-y-busqueda">
                <img src="/static/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" id="logo">

                <form id="caja-busqueda">
                    <input type="text" id="input-busqueda" placeholder="Buscar productos, marcas">
                    <button type="submit" id="boton-busqueda"><i class="fas fa-search"></i></button>
                </form>
            </div>

            <h2 id="texto-compra">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>

            <nav class="main-navbar">
                <ul class="left-navbar">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>

                <ul class="right-navbar">
                    <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis Compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>

            <a href="#" id="menu-hamburguesa"><i class="fa fa-bars burger"></i></a>
    </header>

    <main id="main-registro">
        <form action="/" method="post" id="form-registro">
            <h2>Creá tu cuenta</h2>

            <label class="label-registro" for="nombre-apellido">Nombre y Apellido:</label>

            <input type="text" name="nombre-apellido" placeholder="Juan Perez" required>
            <!--<input class="feedback-negativo-input" type="text" name="nombre-apellido" placeholder="Juan Perez" required>
            <span class="feedback-negativo">El nombre es muy corto</span>-->

            <label class="label-registro" for="usuario">Nombre de usuario:</label>
            <input type="text" name="usuario" placeholder="Juan123" required>
            <!--<input class="feedback-positivo-input" type="text" name="usuario" placeholder="Juan123" required>
            <span class="feedback-positivo">Correcto</span>-->

            <label class="label-registro" for="email">E-mail:</label>
            <input type="email" name="email" placeholder="juan@mail.com" required>
            <!--<input class="feedback-negativo-input" type="email" name="email" placeholder="juan@mail.com" required>
            <span class="feedback-negativo">Mail invalido</span>-->

            <label class="label-registro" for="fecha-nacimiento">Fecha de Nacimiento:</label>
            <input type="date" name="fecha-nacimiento" required>
            <!--<input class="feedback-positivo-input" type="date" name="fecha-nacimiento" required>
            <span class="feedback-positivo">Correcto</span>-->

            <label class="label-registro" for="domicilio">Domicilio</label>
            <input type="text" name="domicilio" placeholder="Calle Falsa 123" required>
            <!--<input class="feedback-positivo-input" type="text" name="domicilio" placeholder="Calle Falsa 123" required>
            <span class="feedback-positivo">Correcto</span>-->

            <h4>Perfil del usuario</h4>
            <div class="perfil-usuario">
                <input type="radio" name="perfil" value="comprar">
                <label for="comprar">Comprar</label>

                <input type="radio" name="perfil" value="vender">
                <label for="vender">Vender</label>
            </div>
            <!--<span class="feedback-negativo">Debe elegir una opción</span>-->

            <h4>Categorías de interés</h4>
            <div class="categorias-interes">
                <div>
                    <input type="checkbox" name="categorias" value="electro">
                    <label for="electro">Electro</label>
                </div>
                <div>
                    <input type="checkbox" name="categorias" value="moda">
                    <label for="moda">Moda</label>
                </div>
                <div>
                    <input type="checkbox" name="categorias" value="hogar">
                    <label for="hogar">Hogar</label>
                </div>
                <div>
                    <input type="checkbox" name="categorias" value="jugueteria">
                    <label for="jugueteria">Jugueteria</label>
                </div>
                <div>
                    <input type="checkbox" name="categorias" value="vidaSana">
                    <label for="vidaSana">Vida Sana</label>
                </div>
            </div>
            <!--<span class="feedback-negativo">Debe elegir al menos una opción</span>-->

            <h4>Elegí tu foto de usuario</h4>
            <input type="file" name="avatar" accept=".jpg, .png">
            
            <label class="label-registro" for="password">Contraseña:</label>
            <input type="password" name="password" placeholder="********" required>
            <!--<input class="feedback-positivo-input" type="password" name="password" placeholder="********" required>
            <span class="feedback-positivo">Contraseña segura</span>-->

            <label class="label-registro" for="password-confirm">Repetir contraseña:</label>
            <input type="password" name="password-confirm" placeholder="********" required>
            <!--<input class="feedback-negativo-input" type="password" name="password-confirm" placeholder="********" required>
            <span class="feedback-negativo">Las contraseñas no coinciden</span>-->

            <div class="caja-botones">
                <button class="boton-reset" type="reset">Borrar</button>
                <button class="boton-submit" type="submit">Registrarse</button>
            </div>

        </form>
    </main>

    <footer>
        <section class="section-footer">
            <i class="fas fa-credit-card icono-footer"></i>
            <h4 class="h4-footer">Pagá con tarjeta o en efectivo</h4>
            <p class="texto-footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section class="section-footer">
            <i class="fas fa-gift icono-footer"></i>
            <h4 class="h4-footer">Envío gratis desde $ 2.500</h4>
            <p class="texto-footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section class="section-footer">
            <i class="fas fa-user-shield icono-footer"></i>
            <h4 class="h4-footer">Seguridad, de principio a fin</h4>
            <p class="texto-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </section>
        <section>
            <p id="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>
</html>